langchain
langchain-core
langchain-community
langchain-chroma
langchain-groq
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
pypdf
docx2txt
beautifulsoup4
python-dotenv
streamlit
streamlit-mic-recorder